<div fxLayout="row wrap">
  <div fxFlex="65%" class="video-player-mainDiv">
    <div class="video-player">
      <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
    </div>
    <h2>{{videoTitle}}</h2>
    <p>{{videoDescription}}</p>
  </div>
  <div fxFlex="35%" id="allVideosList">
      <mat-card *ngFor="let video of allVideos" class="example-card grid-item" appearance="outlined"
                (click)="openVideo(video)">
        <img mat-card-image class="thumbnail" alt="Thumbnail" src={{video.thumbnailUrl}} />
        <mat-card-header>
          <mat-card-title>{{video.title}}</mat-card-title>
          <!-- <mat-card-subtitle><p id="videoDescription">{{video.description}}</p></mat-card-subtitle> -->
        </mat-card-header>
        <!-- <mat-card-actions>
          <mat-card-subtitle>100K Views</mat-card-subtitle>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-subtitle>1 day ago</mat-card-subtitle>
        </mat-card-actions> -->
      </mat-card>
    </div>
</div>

